<?xml version="1.0" encoding="utf-8" ?>

<config>
    <threadPoolSize default="5">3</threadPoolSize>
    <servers>
        <server>
            <host>192.168.199.120</host>
            <userName>root</userName> 
            <password encrypt="true">liyang</password>
            <uploads>
                <upload>
                    <local>E:\deploy\test\MyTest.war</local> 
                    <remote>/home/liyang/tomcat7/webapps</remote>
                </upload>
            </uploads>
        	<commands>
			    <command>export JAVA_HOME=/usr/lib/jvm/jdk1.7;sh /home/liyang/tomcat7/bin/startup.sh</command>
            </commands>
            <verify requestCount="1"  timeDelay="20000"  timeGap="2000">
               <!--  <httpapi method="get" url="http://192.168.199.120:8080/MyTest/hello"/> -->
              <httpapi method="post" url="http://192.168.199.120:8080/MyTest/hello">
                   <!--  
                   <param key="aaa">000</param>
                    <param key="bbb">111</param>
                   -->
              </httpapi> 
            </verify>
        </server>
    </servers>
</config>